@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: gobold-relleno;
  src: url(/src/fonts/Gobold-Regular-Italic.ttf);
  font-display: swap;
}
@font-face {
  font-family: gobold-sin-relleno;
  src: url(/src/fonts/Gobold-Hollow-Bold-Italic.ttf);
  font-display: swap;
}
h1,.gobold-relleno{
  font-family: gobold-relleno;
}
h2,.gobold-sin-relleno{
  font-family: gobold-sin-relleno;
}
p,a,input,::placeholder,button{
  font-family: 'Montserrat', sans-serif; 
}
@tailwind base;
@tailwind components;
@tailwind utilities;